@import "fonts";
@import "null";

:root {
    --black: #000;
    --red: #e20303;
    --simple-text: #222;
    --grey-text: #484848;
    --light-text: #747478;
    --grey-icon: #96969a;
    --line: #e5e5eb;
    --grey-bg: #f5f5f7;
    --white: #fff;
    --blue: #0f3f93;
    --yelow: #feb62b;
    --light-blue: #ebf3ff;
    --blue-hover: #064bc6;
    --logo-light-blue-logo: #009fdb;
    --logo-blue-logo: #0f3f93;
    --logo-red-logo: #e20303;

    --font-family: "Literata", sans-serif;
    --second-family: "Literata 18pt", sans-serif;
    --third-family: "Inter", sans-serif;
}

@import "globals";

@import "./sections/header";
@import "./sections/footer";
@import "./sections/intro";
@import "./sections/logo";
@import "./sections/contacts";
@import "./sections/socials";
@import "./sections/services";
@import "./sections/advantages";
@import "./sections/promo";
@import "./sections/news";
@import "./sections/geography";
@import "./sections/price";
@import "./sections/stages";
@import "./sections/worth";
@import "./sections/contract";
@import "./sections/list";
@import "./sections/goods";
@import "./sections/form";
@import "./sections/product";
@import "./sections/faq";
@import "./sections/sidebar";
@import "./sections/about-service";
@import "./sections/news-list";
@import "./sections/news-item";
@import "./sections/pagination";
@import "./sections/news-full";
@import "./sections/discount";
@import "./sections/404";
@import "./sections/reviews";
@import "./sections/rubric";
@import "./sections/payment";
@import "./sections/information";
@import "./sections/consultation";
@import "./sections/work";
@import "./sections/links";
@import "./sections/cost";
@import "./sections/production";
@import "./sections/icons-block";
@import "./sections/funeral";
@import "./sections/tabs";
@import "./sections/price-tab";
@import "./sections/questions";
@import "./sections/ritual-goods";
@import "./sections/moscow-districts";
@import "./sections/parent-organization";
@import "./sections/compensation";
@import "./sections/contact-information";
@import "./sections/funeral-services";
@import "./sections/economy-funeral";
@import "./sections/funeral-standard";
@import "./sections/vip-funeral";
@import "./sections/funeral-arrangements";
@import "./sections/service-list";
@import "./sections/coffins-moscow";
@import "./sections/load-200";
@import "./sections/order-hearse";
@import "./sections/product-2";
@import "./sections/calculator";
@import "./sections/ask-question-modal";
@import "./sections/menu";
@import "./sections/overlay";
