@import "fonts";
@import "null";

:root {
  --black: #000;
  --red: #e20303;
  --simple-text: #222;
  --grey-text: #484848;
  --light-text: #747478;
  --grey-icon: #96969a;
  --line: #e5e5eb;
  --grey-bg: #f5f5f7;
  --white: #fff;
  --blue: #0f3f93;
  --yelow: #feb62b;
  --light-blue: #ebf3ff;
  --blue-hover: #064bc6;
  --logo-light-blue-logo: #009fdb;
  --logo-blue-logo: #0f3f93;
  --logo-red-logo: #e20303;

  --font-family: "Literata", sans-serif;
  --second-family: "Literata 18pt", sans-serif;
  --third-family: "Inter", sans-serif;
}

.container {
  max-width: 1420px;
  padding: 0 18px;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 131%;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  & > button {
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    font-size: 16px;
    line-height: 137%;
    color: var(--black);
    align-items: center;
    &:before {
      font-size: 12px;
      transform: translateY(1px);
    }
  }
}
.subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 136%;
  color: var(--black);
}
.text {
  font-size: 16px;
  line-height: 144%;
  color: var(--simple-text);
}
.btn {
  box-shadow: 3px 3px 0 0 var(--black);
  background: var(--red);
  padding: 11px 24px 15px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  color: var(--white);
}

@import "./sections/header";
@import "./sections/footer";
@import "./sections/logo";
@import "./sections/contacts";
@import "./sections/socials";
@import "./sections/services";
@import "./sections/advantages";
@import "./sections/promo";
@import "./sections/news";
