@import "fonts";
@import "null";

@import "./sections/header";
@import "./sections/footer";

:root {
  --black: #000;
  --red: #e20303;
  --simple-text: #222;
  --grey-text: #484848;
  --light-text: #747478;
  --grey-icon: #96969a;
  --line: #e5e5eb;
  --grey-bg: #f5f5f7;
  --white: #fff;
  --blue: #0f3f93;
  --yelow: #feb62b;
  --light-blue: #ebf3ff;
  --blue-hover: #064bc6;
  --logo-light-blue-logo: #009fdb;
  --logo-blue-logo: #0f3f93;
  --logo-red-logo: #e20303;

  --font-family: "Literata", sans-serif;
  --second-family: "Literata 18pt", sans-serif;
  --third-family: "Inter", sans-serif;
}
