<div class="moscow-districts">
  <h2 class="title">Районы Москвы</h2>
  <div>
    <h3>Южный Административный Округ Москвы</h3>
    <ul>
      @@for (var i = 0; i < 16; i++) {
      <li><a href="#" class="links__link icon-12">Бирюлёво Восточное</a></li>
      }
    </ul>
  </div>
  <div>
    <h3>Юго-Восточный Административный Округ Москвы</h3>
    <ul>
      @@for (var i = 0; i < 8; i++) {
      <li><a href="#" class="links__link icon-12">Бирюлёво Восточное</a></li>
      }
    </ul>
  </div>
</div>
