<div class="reviews">
  <h2 class="title">Отзывы</h2>
  @@include('./tabs.html', {"list": ['Отзывы на Яндексе', 'Отзывы на сайте',
  'Благодарственные письма']})
  <div class="reviews__block" style="display: none">
    <div class="reviews__header">
      <div><b class="icon-36"></b><span>5,0</span></div>
      <p class="text">Все оценки и отзывы реальные и проверены Яндексом.</p>
      <button class="text icon-12">Смотреть на Яндекс Услугах</button>
    </div>
    @@for (var i = 0; i < 5; i++) {
    <div class="reviews__item">
      <div>
        <img src="img/img-12.png" alt="" />
        <div class="reviews__item-rating">
          <span class="text">Ася Седалищева</span>
          <div>
            @@for (var i = 0; i < 5; i++) { <span class="icon-36"></span> }
          </div>
        </div>
        <span>07.03.2024</span>
      </div>
      <p class="text">
        Всем здравствуйте! Спасибо большое за услугу которую вы оказали мне! Я
        находился в тяжёлом положении! Умерла мама. Екатерина спасибо большое
        вам! Вы очень мне помогли, отправили маму домой на дальний Восток с
        Таганрога всё быстро аккуратно, ребята которые перевозили маму молодцы.
        Машина бизнес класса. Вообщем очень очень доволен я всем. И
        соболезнования и как к своим родным отнеслись со всеми переживаниями и
        пониманием. Маму привезли за сутки. Я спокойно сам улетел доверил всё
        Екатерине маму встретил уже в аэропорту. Спасибо огромное ещё раз.
      </p>
    </div>
    }
  </div>
  <div class="reviews__block">
    <div class="reviews__send">
      <p class="text">
        Здесь публикуются отзывы наших клиентов о деятельности компании. Вы
        можете оставить свой отзыв, заполнив форму.
      </p>
      <button class="btn">Написать отзыв</button>
    </div>
    @@for (var i = 0; i < 7; i++) {
    <div class="reviews__item-2">
      <div><span class="text">Рита Новикова</span><span>11.11.2024</span></div>
      <p class="text">
        Когда в семью приходит горе – смерть родного человека, бывает очень
        сложно собраться с мыслями, сосредоточиться на том, что связано с его
        похоронами. Огромную помощь в этом нам оказал «Ваш Ритуал». Смерть
        бабушки — первая в нашей семье, поэтому возникло много проблем с
        оформлением документов, места на кладбище и т.д. Во всем этом нам очень
        помогли работники агентства, спасибо им за слаженную работу.
      </p>
    </div>
    }
  </div>
  <div class="reviews__block" style="display: none">
    <div class="reviews__certificates">
      @@for (var i = 0; i < 7; i++) {
      <div><img src="img/img-13.png" alt="" /></div>
      }
    </div>
  </div>
  @@include('./pagination.html')
</div>
