.error-404 {
    & > h2 {
        margin-bottom: 40px;
        @media (max-width: 500px) {
            margin-bottom: 24px;
        }
    }
    & > p {
        margin-bottom: 24px;
        @media (max-width: 500px) {
            margin-bottom: 16px;
        }
    }
}
