.about-service {
    & > h2 {
        margin-bottom: 40px;
        @media (max-width: 500px) {
            margin-bottom: 24px;
        }
    }
    &__block-1 {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 500px) {
            margin-top: 16px;
            gap: 14px;
        }
        & > img {
            width: 100%;
            object-fit: cover;
            @media (max-width: 500px) {
                height: 200px;
            }
        }
    }
    &__block-2 {
        margin-top: 32px;
        position: relative;
        max-width: 956px;
        @media (max-width: 500px) {
            margin-top: 24px;
        }
    }
    &__block-3 {
        margin-top: 32px;
        & > ul {
            margin-top: 32px;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;
            row-gap: 24px;
            @media (max-width: 700px) {
                grid-template-columns: repeat(1, 1fr);
            }
            & > li {
                align-items: flex-start;
                flex-direction: row;
                gap: 20px;
                & > div {
                    text-align: left;
                    & > p {
                        margin-top: 6px;
                    }
                }
            }
        }
        @media (max-width: 500px) {
            margin-top: 24px;
        }
        & > h2 {
            margin-bottom: 24px;
            @media (max-width: 500px) {
                margin-bottom: 16px;
            }
        }
    }
    &__slider {
        margin-top: 24px;
        width: 100%;
        overflow: hidden;
        @media (max-width: 500px) {
            margin-top: 16px;
        }
        &-slide {
            & > img {
                height: 260px;
                width: 100%;
                object-fit: cover;
                @media (max-width: 500px) {
                    height: 180px;
                }
            }
        }
        &__button-prev,
        &__button-next {
            top: 0;
        }
        &__button-prev {
            right: 56px;
            @media (max-width: 500px) {
                right: 46px;
            }
        }
    }
}
