.header {
    position: relative;
    &__block-1 {
        background: var(--blue);
        padding: 11px 0;
        & > div {
            display: flex;
            justify-content: space-between;
            gap: 35px;
            & > ul {
                display: flex;
                flex-wrap: wrap;
                column-gap: 35px;
                row-gap: 12px;
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: var(--white);
                & > li {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    &::before {
                        color: var(--white);
                    }
                    &:nth-child(1) {
                        &::before {
                            font-size: 18px;
                        }
                    }
                    &:nth-child(2) {
                        &::before {
                            font-size: 18px;
                        }
                    }
                    &:nth-child(3) {
                        &::before {
                            font-size: 22px;
                        }
                    }
                }
            }
            & > a {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: var(--white);
                @media (max-width: 1050px) {
                    display: none;
                }
            }
        }
        &-desktop {
            @media (max-width: 600px) {
                display: none;
            }
        }
        &-mobile {
            display: none;
            @media (max-width: 600px) {
                display: block;
            }
        }
    }
    &__block-2 {
        padding: 16px 0;
        & > div {
            display: flex;
            gap: 40px;
            @media (max-width: 1050px) {
                gap: 20px;
            }
            @media (max-width: 768px) {
                justify-content: space-between;
            }
            @media (max-width: 600px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                row-gap: 10px;
                & > div {
                    &:nth-child(1) {
                        grid-column: span 4;
                        border-bottom: 1px solid var(--line);
                        padding-bottom: 10px;
                    }
                }
                & > ul.contacts {
                    grid-column: span 3;
                    padding-left: 0;
                    border: none;
                }
                & > ul.socials {
                    display: flex;
                }
            }
            @media (max-width: 500px) {
                column-gap: 10px;
            }
        }
        @media (max-width: 600px) {
            padding: 8px 0;
        }
    }
    &__search {
        flex: 1 1 auto;
        position: relative;
        & > input {
            padding: 12px 42px 12px 20px;
            width: 100%;
            background: var(--grey-bg);
            font-size: 16px;
            line-height: 137%;
            color: var(--light-text);
            &::placeholder {
                font-size: 16px;
                line-height: 137%;
                color: var(--light-text);
            }
        }
        & > span {
            position: absolute;
            right: 19.5px;
            top: 15px;
            &::before {
                color: var(--grey-icon);
                font-size: 18px;
            }
        }
        @media (max-width: 1000px) {
            display: none;
        }
    }
    &__block-3 {
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
        border-top: 1px solid var(--line);
        @media (max-width: 600px) {
            position: absolute;
            top: 68px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
            min-width: 390px;
            height: 100vh;
            transition: 0.3s;
            z-index: 1;
            transform: translateX(-100%);
        }
    }
    &__nav {
        display: flex;
        column-gap: 32px;
        font-size: 16px;
        line-height: 137%;
        flex-wrap: wrap;
        position: relative;
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }
        & > li {
            border-bottom: 3px solid transparent;
            & > a {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                color: var(--black);
                padding: 16px 0;
                gap: 7px;
                &::before {
                    transform: rotate(-90deg) translateX(-2px);
                    font-size: 12px;
                    transition: 0.2s;
                    @media (max-width: 600px) {
                        transform: rotate(180deg) translateX(-2px);
                    }
                }
                &.active {
                    border-bottom: 3px solid var(--blue);
                    @media (max-width: 600px) {
                        border: none;
                    }
                }
                @media (max-width: 1200px) {
                    padding: 7px 0;
                }
                @media (max-width: 600px) {
                    padding: 15px 0px 15px 0px;
                    flex-direction: row;
                }
            }
            &:hover {
                border-bottom: 3px solid var(--blue);
                transition: 0.2s;
                & > ul {
                    opacity: 1;
                    visibility: visible;
                }
                & > a {
                    &::before {
                        transform: rotate(90deg);
                    }
                }
            }
            &:nth-child(3) {
                & > ul {
                    & > li {
                        &:nth-child(4) {
                            & > ul {
                                font-weight: 600;
                                & > li {
                                    & > a {
                                        color: var(--black);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(3),
            &:nth-child(4) {
                & > ul {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    width: 100%;
                    transform: none;
                    left: 0;
                    & > li {
                        & > a {
                            font-weight: 600;
                            color: var(--black);
                        }
                        & > ul {
                            & > li {
                                & > a {
                                    color: var(--grey-text);
                                }
                            }
                        }
                    }
                }
            }
            & > ul {
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
                position: absolute;
                background-color: var(--white);
                box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
                padding: 40px 48px 48px 48px;
                z-index: 2;
                width: max-content;
                top: 56.5px;
                transform: translateX(-48px);
                font-size: 16px;
                line-height: 137%;
                display: flex;
                flex-direction: column;
                gap: 24px;
                & > li {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    & > a {
                        color: var(--grey-text);
                    }
                    & > ul {
                        font-size: 16px;
                        line-height: 137%;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                    }
                }
            }
            @media (max-width: 600px) {
                width: 100%;
                &:not(:last-child) {
                    border-bottom: 1px solid var(--line);
                }
            }
        }
    }
    &__btn {
        display: none;
        @media (max-width: 600px) {
            display: flex;
            position: absolute;
            top: 24px;
            right: 24px;
            align-items: center;
            gap: 20px;
            & > button {
                background-color: transparent;
                &:nth-child(1) {
                    &::before {
                        font-size: 18px;
                        color: var(--grey-icon);
                    }
                }
                &:nth-child(2) {
                    &::before {
                        font-size: 19px;
                        color: var(--black);
                    }
                }
            }
        }
    }
}
