.information {
  & > h2 {
    margin-bottom: 40px;
  }
  & > p {
    margin-bottom: 24px;
  }
  & > h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 16px;
  }
}
