.intro {
    padding: 40px 0 48px 0;
    background-image: url("../img/bg-4.png");
    @media (max-width: 500px) {
        padding: 12px 0 24px 0;
    }
    &__block {
        display: flex;
        margin-top: 24px;
        @media (max-width: 1100px) {
            flex-direction: column;
            gap: 20px;
        }
        @media (max-width: 500px) {
            margin-top: 12px;
            gap: 0;
        }
        & > div {
            &:nth-child(1) {
                padding: 40px;
                width: calc(448 / 1384 * 100%);
                background-image: url("../img/bg-5.png");
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                height: 396px;
                justify-content: space-between;
                & > ul {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    color: var(--white);
                    & > li {
                        display: flex;
                        gap: 14px;
                        &::before {
                            font-size: 15px;
                            color: var(--yelow);
                            transform: translateY(7px);
                        }
                    }
                }
                @media (max-width: 1250px) {
                    height: auto;
                    background-size: cover;
                }
                @media (max-width: 1100px) {
                    width: 100%;
                    gap: 16px;
                    align-items: flex-start;
                }
                @media (max-width: 500px) {
                    padding: 24px 18px;
                }
            }
        }
    }
    &__slider {
        overflow: hidden;
        padding: 10px;
        margin: -10px;
        &-wrapper {
            margin-left: 8px;
            position: relative;
            padding-left: 24px;
            padding-right: 24px;
            margin-right: -24px;
            width: calc(936 / 1384 * 100%);
            @media (max-width: 1100px) {
                width: 100%;
                margin-left: 0;
            }
            @media (max-width: 500px) {
                padding-top: 16px;
            }
        }
        &__button-prev,
        &__button-next {
            bottom: 230px;
            @media (max-width: 500px) {
                bottom: 160px;
            }
        }
        &__button-prev {
            left: 0;
        }
    }
    &__rating {
        position: fixed;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 0;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
        padding: 16px;
        width: 140px;
        gap: 8px;
        text-align: center;
        z-index: 2;
        & > p {
            font-size: 12px;
            line-height: 133%;
            color: var(--black);
        }
        & > ul {
            display: flex;
            gap: 5px;
            & > li {
                &::before {
                    font-size: 17px;
                    color: var(--yelow);
                }
            }
        }
        & > div {
            display: flex;
            gap: 8px;
            align-items: center;
            & > span {
                width: 32px;
                height: 32px;
                background-color: #fc3f1d;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    color: var(--white);
                    font-size: 16px;
                }
            }
            & > b {
                font-size: 14px;
                line-height: 143%;
                color: var(--black);
            }
        }
        @media (max-width: 500px) {
            justify-content: space-between;
            margin: 0 -18px;
            position: initial;
            flex-direction: row;
            width: auto;
            box-shadow: none;
        }
    }
}
