.links {
    & > h2 {
        margin-bottom: 40px;
        @media (max-width: 500px) {
            margin-bottom: 24px;
        }
    }
    & > div {
        &:not(:last-child) {
            margin-bottom: 32px;
            @media (max-width: 500px) {
                margin-bottom: 24px;
            }
        }
        & > h3 {
            font-weight: 700;
            font-size: 28px;
            line-height: 136%;
            color: var(--black);
            margin-bottom: 24px;
            @media (max-width: 500px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        & > ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            @media (max-width: 500px) {
                grid-template-columns: 1fr;
                gap: 12px;
            }
        }
    }
    &__link {
        font-size: 16px;
        line-height: 137%;
        color: var(--black);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 26px 24px;
        background: var(--grey-bg);
        @media (max-width: 500px) {
            padding: 14px 20px;
        }
        &::before {
            color: var(--grey-icon);
            font-size: 12px;
        }
    }
}
