.news-list {
  & > h2 {
    margin-bottom: 40px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    & > div {
      display: grid;
      grid-template-columns: 320px 1fr;
      gap: 32px;
      padding-bottom: 0;
      border: none;
      & > img {
        height: 204px;
      }
    }
  }
}
