.price__tab {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 32px;
    display: none;
    &.active {
        display: grid;
    }
    @media (max-width: 940px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        margin-top: 24px;
    }
    &-item {
        position: relative;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
        & > div {
            &:nth-child(1) {
                font-weight: 600;
                font-size: 18px;
                line-height: 144%;
                text-align: center;
                color: var(--black);
                background: var(--light-blue);
                padding: 14px 10px 18px 10px;
            }
            &:nth-child(2) {
                padding: 16px 24px;
                display: flex;
                flex-direction: column;
                min-height: 210px;
                height: calc(100% - 57.91px);
                position: relative;
                @media (max-width: 500px) {
                    padding: 16px 20px;
                    height: auto;
                    min-height: auto;
                }
                & > p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: var(--grey-text);
                    flex: 1 1 auto;
                    @media (max-width: 500px) {
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                }
                & > span {
                    margin-bottom: 24px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 137%;
                    color: var(--black);
                    @media (max-width: 500px) {
                        margin-bottom: 10px;
                    }
                }
                & > button {
                    font-family: var(--second-family);
                    width: 100%;
                    padding: 10px 20px;
                    font-size: 14px;
                    line-height: 143%;
                    color: var(--blue);
                    background: transparent;
                    border-top: 1px solid var(--line);
                    @media (max-width: 500px) {
                        position: absolute;
                        width: 128px;
                        bottom: 16px;
                        right: 20px;
                        border-top: 0;
                        border-left: 1px solid var(--line);
                        padding: 10px 24px;
                    }
                }
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 100%;
            right: 0;
            background: linear-gradient(270deg, #000 0%, #fff 100%);
            mix-blend-mode: multiply;
            opacity: 0.03;
        }
    }
}
