.product {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-height: 396px;
  background: white;
  & > img {
    height: 212px;
    object-fit: cover;
  }
  & > h3 {
    padding-top: 16px;
    border-top: 1px solid var(--line);
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--black);
    flex: 1 1 auto;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span {
      font-weight: 700;
      font-size: 16px;
      line-height: 137%;
      color: var(--black);
    }
  }
}
