.questions {
    & > h2 {
        margin-bottom: 40px;
        @media (max-width: 500px) {
            margin-bottom: 24px;
        }
    }
    & > p {
        margin-top: 64px;
        @media (max-width: 500px) {
            margin-top: 24px;
        }
    }
    & > ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 500px) {
            gap: 12px;
        }
        & > li {
            padding: 28px 24px;
            border: 1px solid var(--line);
            @media (max-width: 500px) {
                padding: 18px 20px;
            }
            & > span {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                font-weight: 600;
                font-size: 18px;
                line-height: 144%;
                color: var(--black);
                &::before {
                    color: var(--black);
                    font-size: 16px;
                }
                @media (max-width: 500px) {
                    gap: 16px;
                }
            }
            & > div {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 14px;
                @media (max-width: 500px) {
                    margin-top: 12px;
                    gap: 12px;
                }
                & > ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-left: 7px;
                    @media (max-width: 500px) {
                        gap: 8px;
                    }
                    & > li {
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        &::before {
                            content: "";
                            display: block;
                            min-width: 6px;
                            width: 6px;
                            height: 6px;
                            border-radius: 100%;
                            background: var(--red);
                        }
                    }
                }
            }
        }
    }
    &__form {
        margin-top: 32px;
        background: var(--grey-bg);
        padding: 40px;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 40px;
        @media (max-width: 1200px) {
            grid-template-columns: 200px 1fr;
            gap: 20px;
            padding: 30px;
        }
        @media (max-width: 900px) {
            grid-template-columns: 250px 1fr;
        }
        @media (max-width: 750px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 500px) {
            margin-top: 24px;
            padding: 20px;
            gap: 24px;
        }
        & > div {
            & > h3 {
                font-weight: 700;
                font-size: 28px;
                line-height: 136%;
                color: var(--black);
                margin-bottom: 24px;
                @media (max-width: 500px) {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }
            & > p {
                font-size: 16px;
                line-height: 144%;
                color: var(--simple-text);
                margin-bottom: 32px;
                @media (max-width: 500px) {
                    margin-bottom: 16px;
                }
            }
        }
        & > form {
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
            background: var(--white);
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            @media (max-width: 500px) {
                padding: 16px;
                gap: 12px;
            }
            & > div {
                margin-top: 8px;
                display: flex;
                gap: 20px;
                align-items: center;
                @media (max-width: 500px) {
                    margin-top: 0;
                    flex-direction: column;
                    gap: 12px;
                    align-items: normal;
                }
                & > p {
                    font-size: 14px;
                    line-height: 143%;
                    color: var(--light-text);
                    @media (max-width: 500px) {
                        font-size: 12px;
                    }
                    & > a {
                        color: var(--light-text);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 500px) {
            gap: 12px;
        }
        & > div {
            display: flex;
            flex-direction: column;
            gap: 2px;
            & > span {
                font-size: 16px;
                line-height: 137%;
                color: var(--light-text);
                @media (max-width: 500px) {
                    font-size: 14px;
                }
            }
            & > a {
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: var(--black);
                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
        }
    }
}
