.rubric {
    & > h2 {
        margin-bottom: 40px;
        @media (max-width: 500px) {
            margin-bottom: 24px;
        }
    }
    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 48px;
        gap: 24px;
        @media (max-width: 720px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 500px) {
            gap: 12px;
            margin-bottom: 24px;
        }
    }
}
