.socials {
    display: flex;
    gap: 12px;
    & > li {
        & > a {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                color: var(--white);
            }
        }
        &:nth-child(1) > a {
            background: #50a4d1;
            &::before {
                font-size: 20px;
            }
        }
        &:nth-child(2) > a {
            background: #1ea918;
            &::before {
                font-size: 24px;
            }
        }
    }
}
