.price__tabs {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    & > li {
        border-radius: 100px;
        padding: 11px 24px 15px 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 137%;
        color: var(--blue);
        border: 2px solid var(--blue);
        &.active {
            background: var(--blue);
            color: var(--white);
        }
    }
}
