.worth {
    padding-top: 80px;
    @media (max-width: 500px) {
        padding-top: 24px;
    }
    & > div {
        & > h2 {
            margin-bottom: 24px;
            @media (max-width: 500px) {
                margin-bottom: 12px;
            }
        }
        & > p {
            font-weight: 500;
            font-size: 18px;
            line-height: 144%;
            color: var(--simple-text);
            margin-bottom: 40px;
            @media (max-width: 500px) {
                font-size: 16px;
                margin-bottom: 16px;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 0.5px solid var(--line);
        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
        & > div {
            padding: 32px 40px 40px 40px;
            border: 0.5px solid var(--line);
            @media (max-width: 1000px) {
                padding: 25px;
            }
            @media (max-width: 500px) {
                padding: 20px;
            }
            & > h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: var(--black);
                padding-bottom: 19px;
                position: relative;
                margin-bottom: 24px;
                &::after {
                    content: "";
                    width: 64px;
                    height: 3px;
                    background: var(--red);
                    display: block;
                    position: absolute;
                    bottom: 0;
                    @media (max-width: 500px) {
                        width: 48px;
                    }
                }
                @media (max-width: 500px) {
                    font-size: 18px;
                    padding-bottom: 14px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
